@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  min-width: 1280px;
  min-height: 100%;
  display: flex;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

/* index */

.align-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* header */

.main-header__navigation-list,
.main-header__user-menu-list,
.advantages__list,
.features__list,
.breadcrumbs__list,
.filter-apartment__list,
.filter-sorting__card-layout-list,
.options__card-list,
.pagination__list,
.main-footer__socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header {
  padding: 0 70px;
  display: flex;
}

.main-header__logo-link {
  min-width: 140px;
  position: relative;
}

.main-header__logo-link--secondary:hover {
  opacity: 0.6;
}

.main-header__navigation {
  width: 100%;
  margin-left: 30px;
  display: flex;
}

.main-header__navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-header__navigation-item {
  display: flex;
}

.main-header__navigation-link {
  padding: 20px 18px 20px 14px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

.main-header__logo-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-header__navigation-link--current,
.main-header__navigation-link:not(.main-header__navigation-link--current):hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 18px;
  text-underline-position: under;
}

.main-header__navigation-link--current {
  -webkit-text-decoration-color: #756257;
  text-decoration-color: #756257;
  cursor: default;
  z-index: 1;
}

.main-header__navigation-link:not(.main-header__navigation-link--current):hover {
  -webkit-text-decoration-color: #68a2ca;
  text-decoration-color: #68a2ca;
  color: rgba(51, 51, 51, 0.6);
}

.main-header__logo-link:focus-visible,
.main-header__navigation-link:focus-visible,
.main-header__user-menu-link:focus-visible,
.subscribe__email:focus-visible,
.main-footer__socials-link:focus-visible,
.filter-apartment__form-btn--reset:focus-visible {
  outline: 3px solid #68a2ca;
  outline-offset: -3px;
  border-radius: 4px;
}

@supports not selector(:focus-visible) {
  .main-header__logo-link:focus,
  .main-header__navigation-link:focus,
  .main-header__user-menu-link:focus,
  .subscribe__email:focus,
  .main-footer__socials-link:focus,
  .filter-apartment__form-btn--reset:focus {
    /* Fallback for browsers without :focus-visible support */
    outline: 3px solid #68a2ca;
    outline-offset: -3px;
    border-radius: 4px;
  }
}

.main-header__logo-link--secondary:active,
.main-header__navigation-link:not(.main-header__navigation-link--current):active {
  opacity: 0.3;
}

.main-header__user-menu-list {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-header__user-menu-item {
  display: flex;
}

.main-header__user-menu-link {
  padding: 32px 22px;
  background-position: center;
  background-repeat: no-repeat;
}

.main-header__user-menu-link--wishlist {
  position: relative;
  background-image: url("../images/heart.svg");
}

.main-header__user-menu-link--wishlist::before {
  content: "12";
  display: block;
  width: 20px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  right: 4px;
  cursor: pointer;
}

.main-header__user-menu-link:hover {
  opacity: 0.6;
}

.main-header__user-menu-link:active {
  opacity: 0.3;
}

.main-header__user-menu-link--search {
  background-image: url("../images/search.svg");
}

.main-header__modal-link {
  padding: 8px 34px;
  margin-left: 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.main-header__modal-link:hover,
.main-header__modal-link:focus-visible,
.search-hotel__catalog-link:hover,
.search-hotel__catalog-link:focus-visible,
.options__card-link--more:hover,
.options__card-link--more:focus-visible {
  background-color: #615048;
  outline: none;
}

@supports not selector(:focus-visible) {
  .main-header__modal-link:focus,
  .search-hotel__catalog-link:focus,
  .options__card-link--more:focus {
    background-color: #615048;
    outline: none;
  }
}

.main-header__modal-link:active,
.search-hotel__catalog-link:active,
.subscribe__email-btn:active,
.filter-apartment__form-btn:active,
.options__card-link--more:active,
.options__card-btn:active,
.modal__form-submit-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-header__modal-link:active,
.search-hotel__catalog-link:active,
.options__card-link--more:active {
  background-color: #756157;
}


/* main */

.main-page,
.catalog-page {
  flex-grow: 1;
}

.hero {
  padding: 51px 0 82px;
  display: flex;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #82b3d3;
  position: relative;
}

.hero__image-welcome {
  margin: 0 auto;
}

.hero::after {
  content: "";
  display: block;
  height: 57px;
  width: 100%;
  background-image: url("../images/hero-frame.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}

.advantages__title,
.features__title,
.search-hotel__title,
.subscribe__title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__desc,
.features__desc,
.search-hotel__desc,
.subscribe__desc {
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
}

.advantages,
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages__title-wrapper {
  padding: 69px 272px 90px;
}

.advantages__title-wrapper,
.features__title-wrapper {
  display: grid;
  justify-content: center;
  grid-column: span 3;
}

.advantages__title {
  margin-bottom: 25px;
}

.advantages__list {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages__item {
  padding: 114px 84px 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item--image {
  padding: 0;
  grid-column: span 2;
}

.advantages__item-image-city,
.advantages__item-image-bridge {
  height: 100%;
  object-fit: cover;
}

.advantages__item--blue {
  padding: 102px 85px;
  background-color: #82b3d3;
}

.advantages__item--gray {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__item-title,
.features__item-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages__item-title {
  max-width: 172px;
  padding-bottom: 61px;
  position: relative;
}

.advantages__item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 30px;
  left: 57px;
}

.advantages__item--blue .advantages__item-title {
  color: #ffffff;
}

.advantages__item--blue .advantages__item-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages__item-desc,
.features__item-desc {
  margin: 0;
}

.advantages__item--blue .advantages__item-desc {
  color: #ffffff;
}

.features__title-wrapper {
  padding: 64px 347px;
}

.features__title {
  margin-bottom: 20px;
}

.features__list,
.search-hotel {
  grid-column: span 3;
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
}

.features__item {
  padding: 81px 85px;
  text-align: center;
}

.features__item:nth-child(2n-1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features__item-title {
  padding-top: 103px;
  margin-bottom: 30px;
  position: relative;
}

.features__item-title::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center 0;
  position: absolute;
  top: 0;
}

.features__item-title--apartaments::before {
  background-image: url("../images/house.svg");
}

.features__item-title--food::before {
  background-image: url("../images/food.svg");
}

.features__item-title--suvenirs::before {
  background-image: url("../images/souvenir.svg");
}

.features__item-desc {
  max-width: 230px;
}

.features__item-desc--apartaments {
  padding: 0 30px;
}

.search-hotel {
  padding: 95px 305px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.search-hotel__title {
  margin-bottom: 20px;
}

.search-hotel__desc {
  margin-bottom: 54px;
}

.search-hotel__catalog-link {
  align-self: center;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
}

.subscribe {
  padding: 97px 258px 104px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/subscribe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82b3d3;
}

.subscribe__title {
  margin-bottom: 20px;
}

.subscribe__desc {
  margin-bottom: 55px;
}

.subscribe__title,
.subscribe__desc {
  text-align: center;
  color: #ffffff;
}

.subscribe__form {
  display: flex;
}

.subscribe__email {
  flex-grow: 1;
  padding: 14px 220px 14px 20px;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe__email::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe__email-btn {
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.subscribe__email-btn:hover,
.subscribe__email-btn:focus-visible,
.filter-apartment__form-btn--submit:hover,
.filter-apartment__form-btn--submit:focus-visible,
.options__card-btn:hover,
.options__card-btn:focus-visible,
.modal__form-submit-btn:hover,
.modal__form-submit-btn:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

@supports not selector(:focus-visible) {
  .subscribe__email-btn:focus,
  .filter-apartment__form-btn--submit:focus,
  .options__card-btn:focus,
  .modal__form-submit-btn:focus {
    background-color: #68a2ca;
    outline: none;
  }
}

.subscribe__email-btn:active {
  background-color: #82b3d3;
}

/* footer */

.main-footer {
  padding: 44px 70px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-footer__socials-item {
  display: flex;
  align-items: center;
}

.main-footer__socials-link {
  padding: 8px 11px;
}

.main-footer__socials-link--telegram {
  padding-left: 15px;
  padding-right: 15px;
}

.main-footer__socials-link--youtube {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.main-footer__copyright--logo {
  padding-top: 4px;
}

.main-footer__socials-link--vk:focus-visible path,
.main-footer__socials-link--vk:hover path,
.main-footer__socials-link--telegram:focus-visible path,
.main-footer__socials-link--telegram:hover path,
.main-footer__socials-link--youtube:focus-visible path,
.main-footer__socials-link--youtube:hover path {
  fill: #68a2ca;
}

.main-footer__socials-link--vk:active path,
.main-footer__socials-link--telegram:active path,
.main-footer__socials-link--youtube:active path {
  opacity: 0.3;
}

.main-footer__contact-container,
.main-footer__copyright-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-footer__contact {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.main-footer__contact:hover,
.main-footer__contact:focus-visible {
  color: #756157;
  outline: none;
}

@supports not selector(:focus-visible) {
  .main-footer__copyright--logo:focus {
    color: #756157;
    outline: none;
  }
}

.main-footer__contact:active {
  color: rgba(117, 97, 87, 0.3);
}

.main-footer__copyright--logo:hover path,
.main-footer__copyright--logo:focus-visible path {
  fill: #756157;
}

.main-footer__copyright--logo:focus-visible {
  outline: none;
}

@supports not selector(:focus-visible) {
  .main-footer__copyright--logo:focus {
    outline: none;
  }
}

.main-footer__copyright--logo:active path {
  opacity: 0.3;
}

/* catalog */

.filter-apartment {
  padding: 35px 70px 70px;
  background-image: url("../images/catalog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #82b3d3;
}

.filter-apartment__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
}

.filter-apartment__breadcrumbs {
  margin-bottom: 40px;
  display: flex;
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.breadcrumbs__item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  column-gap: 12px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  width: 7px;
  height: 9px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs__link {
  align-self: center;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs__link:hover:not(.breadcrumbs__link--current),
.breadcrumbs__link:focus-visible {
  outline: none;
  opacity: 0.6;
}

@supports not selector(:focus-visible) {
  .breadcrumbs__link:focus {
    outline: none;
    opacity: 0.6;
  }
}

.breadcrumbs__link:active:not(.breadcrumbs__link--current) {
  opacity: 0.3;
}

.breadcrumbs__link--home {
  width: 12px;
  height: 12px;
  background-image: url("../images/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-apartment__form {
  display: flex;
  flex-wrap: wrap;
}

.filter-apartment__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-apartment__legend {
  padding: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.filter-apartment__list {
  display: flex;
  flex-direction: column;
}

.filter-apartment__item:not(.filter-apartment__item:last-child,
.filter-apartment__item--cost) {
  margin-bottom: 16px;
}

.filter-apartment__item {
  display: flex;
  position: relative;
}

.filter-apartment__label {
  padding-left: 36px;
  line-height: 23px;
  color: #ffffff;
}

.filter-apartment__checkbox-mark,
.filter-apartment__radio-mark {
  align-self: center;
  padding: 10px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.filter-apartment__checkbox-mark {
  border-radius: 4px;
}

.filter-apartment__checkbox:checked + .filter-apartment__checkbox-mark::after {
  content: "";
  width: 12px;
  height: 10px;
  background-image: url("../images/checkbox-mark.svg");
  background-position: center;
  position: absolute;
  top: 6px;
  left: 4px;
}

.filter-apartment__checkbox:hover ~ .filter-apartment__label,
.filter-apartment__checkbox:hover + .filter-apartment__checkbox-mark,
.filter-apartment__checkbox:hover + .filter-apartment__checkbox-mark::after,
.filter-apartment__radio:hover ~ .filter-apartment__label,
.filter-apartment__radio:hover + .filter-apartment__radio-mark,
.filter-apartment__radio:hover + .filter-apartment__radio-mark::after {
  opacity: 0.6;
}

.filter-apartment__checkbox:focus-visible + .filter-apartment__checkbox-mark,
.filter-apartment__radio:focus-visible + .filter-apartment__radio-mark {
  outline: 3px solid #83b3d3;
}

@supports not selector(:focus-visible) {
  .filter-apartment__checkbox:focus + .filter-apartment__checkbox-mark,
  .filter-apartment__radio:focus + .filter-apartment__radio-mark {
    outline: 3px solid #83b3d3;
  }
}

.filter-apartment__checkbox:disabled ~ .filter-apartment__label,
.filter-apartment__checkbox:disabled + .filter-apartment__checkbox-mark,
.filter-apartment__checkbox:disabled + .filter-apartment__checkbox-mark::after,
.filter-apartment__checkbox:active ~ .filter-apartment__label,
.filter-apartment__checkbox:active + .filter-apartment__checkbox-mark,
.filter-apartment__checkbox:active + .filter-apartment__checkbox-mark::after,
.filter-apartment__radio:disabled ~ .filter-apartment__label,
.filter-apartment__radio:disabled + .filter-apartment__radio-mark,
.filter-apartment__radio:disabled + .filter-apartment__radio-mark::after,
.filter-apartment__radio:active + .filter-apartment__radio-mark,
.filter-apartment__radio:active ~ .filter-apartment__label,
.filter-apartment__radio:active + .filter-apartment__radio-mark::after {
  opacity: 0.3;
}

.filter-apartment__fieldset--type {
  margin-left: 71px;
}

.filter-apartment__radio-mark {
  border-radius: 50%;
}

.filter-apartment__radio:checked + .filter-apartment__radio-mark::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.filter-apartment__fieldset--cost {
  margin-left: 151px;
}

.filter-apartment__label--cost {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  right: 20px;
  top: 13px;
}

.filter-apartment__list--cost {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2px;
  row-gap: 44px;
}

.filter-apartment__range-input {
  padding: 13px 57px 11px 20px;
  margin: 0;
  width: 143px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  border: none;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.filter-apartment__range-input--min {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.filter-apartment__range-input--max {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filter-apartment__range-input::-webkit-outer-spin-button,
.filter-apartment__range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.filter-apartment__range-input:hover,
.filter-apartment__range-input:focus-visible {
  background-color: #e6e6e6;
}

.filter-apartment__range-input:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

@supports not selector(:focus-visible) {
  .filter-apartment__range-toggle:focus {
    outline: 3px solid #83b3d3;
    outline-offset: -3px;
  }
}

.filter-apartment__range {
  grid-column: 1 / -1;
}

.filter-apartment__range-scale {
  min-width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.filter-apartment__range-bar {
  width: 226px;
  height: 4px;
  background-color: #ffffff;
}

.filter-apartment__range-toggle {
  padding: 10px;
  position: absolute;
  top: -8px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-apartment__range-toggle--min {
  left: 0;
}

.filter-apartment__range-toggle--max {
  right: 60px;
}

.filter-apartment__range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.filter-apartment__range-toggle:focus-visible {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

@supports not selector(:focus-visible) {
  .filter-apartment__range-toggle:focus {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    outline: 3px solid #83b3d3;
    outline-offset: -3px;
  }
}

.filter-apartment__range-toggle:active {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  outline: 2px solid #83b3d3;
  outline-offset: -2px;
}

.filter-apartment__form-btn-wrapper {
  padding-top: 56px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.filter-apartment__form-btn {
  padding: 8px 50px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.filter-apartment__form-btn--submit {
  margin-bottom: 32px;
  background-color: #82b3d3;
  cursor: pointer;
}

.filter-apartment__form-btn--submit:active {
  background-color: #82b3d3;
}

.filter-apartment__form-btn--reset {
  background: none;
}

.filter-apartment__form-btn--reset:hover {
  opacity: 0.6;
}

.filter-sorting {
  padding: 52px 70px 42px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-sorting__title {
  max-width: 530px;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  word-wrap: break-word;
}

.filter-sorting__select-cost {
  margin-left: auto;
  padding: 12px 18px;
  min-width: 288px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  outline: 2px solid #e5e5e5;
  border: none;
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
  background-color: inherit;
  background-image: url("../images/sorting-arrow.svg");
  background-position: 258px 18px;
  background-repeat: no-repeat;
}

.filter-sorting__select-cost:hover,
.filter-sorting__select-cost:focus-visible,
.filter-sorting__card-layout-btn:focus-visible {
  outline: 2px solid #68a2ca;
}

@supports not selector(:focus-visible) {
  .filter-sorting__select-cost:focus,
  .filter-sorting__card-layout-btn:focus {
    outline: 2px solid #68a2ca;
  }
}

.filter-sorting__select-cost:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/sorting-arrow-1.svg");
}

.filter-sorting__card-layout-list {
  max-width: 160px;
  padding-bottom: 1px;
  margin-left: 76px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
}

.filter-sorting__card-layout-item:not(:nth-child(3n-2)) {
  margin-left: 12px;
}

.filter-sorting__card-layout-btn {
  padding: 22px;
  display: block;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  outline: 2px solid #e5e5e5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-sorting__card-layout-btn:hover,
.filter-sorting__card-layout-btn:active,
.filter-sorting__card-layout-btn--current {
  outline: 2px solid #000000;
}

.filter-sorting__card-layout-btn--base {
  background-image: url("../images/sorting-1.svg");
}

.filter-sorting__card-layout-btn--large {
  background-image: url("../images/sorting-2.svg");
}

.filter-sorting__card-layout-btn--list {
  background-image: url("../images/sorting-3.svg");
}

.options {
  position: relative;
}

.options::after {
  content: "";
  display: block;
  height: 1px;
  width: 1060px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
  left: 69px;
}

.options__card-list {
  padding: 0 70px 41px 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.options__card-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  outline: 1px solid #e6e6e6;
  border-radius: 4px;
}

.options__card-image-wrapper {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.options__card-image-wrapper:hover,
.options__card-image-wrapper:focus-visible {
  opacity: 0.6;
}

.options__card-image {
  margin-bottom: 13px;
}

.options__card-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 28px;
}

.options__card-desc {
  margin: 0;
  margin-bottom: 16px;
  display: flex;
}

.options__card-cost {
  margin-left: auto;
  font-weight: 400;
}

.options__card-btn-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 20px;
  row-gap: 16px;
}

.options__card-stars {
  margin: 0;
  height: 17px;
  background-image: url("../images/star.svg");
  background-repeat: space;
}

.options__card-stars--four {
  width: 89px;
}

.options__card-stars--three {
  width: 66px;
}

.options__card-stars--two {
  width: 42px;
}

.options__card-link,
.options__card-btn,
.options__card-raiting,
.options__card-stars {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
}

.options__card-link {
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  background-color: #756157;
}

.options__card-btn {
  padding: 8px 10px;
  font-family: inherit;
  border: none;
  background-color: #82b3d3;
  cursor: pointer;
}

.options__card-btn:active {
  background-color: #82b3d3;
}

.options__card-btn--selected {
  background-color: #7db54f;
}

.options__card-btn--selected:hover,
.options__card-btn--selected:focus-visible {
  background-color: #6c9e42;
}

@supports not selector(:focus-visible) {
  .options__card-btn--selected:focus {
    background-color: #6c9e42;
  }
}

.options__card-btn--selected:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.options__card-raiting {
  grid-column: 2 / -1;
  padding: 9px 22px 8px 23px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  cursor: default;
}

.pagination {
  padding: 39px 70px 59px;
  display: flex;
  justify-content: start;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination__item {
  display: flex;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination__link {
  padding: 11px 15px 13px;
  min-width: 60px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 4px;
  outline: none;
}

.pagination__link--current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination__link--ellipsis {
  background-color: #ffffff;
  color: #000000;
}

.pagination__link:not(.pagination__link--current, .pagination__link--ellipsis):hover,
.pagination__link:focus-visible {
  background-color: #68a2ca;
  outline: 1px solid #82b3d3;
  outline-offset: -1px;
}

@supports not selector(:focus-visible) {
  .pagination__link:focus {
    background-color: #68a2ca;
    outline: 1px solid #82b3d3;
    outline-offset: -1px;
  }
}

.pagination__link:not(.pagination__link--current, .pagination__link--ellipsis):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe--catalog {
  background-image: none;
  background-color: inherit;
}

.subscribe__title--color {
  color: #000000;
}

.subscribe__desc--color {
  width: 475px;
  color: #333333;
}

.subscribe__email--catalog {
  background-color: #f2f2f2;
}

.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 100;
}

.modal-container--close {
  display: none;
}

.modal {
  min-width: 717px;
  margin: 0 auto auto;
  padding: 62px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  top: 396px;
}

.modal__content-title {
  max-width: 520px;
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal__close-button {
  padding: 0;
  position: absolute;
  top: 62px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-image: url("../images/modal-cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.modal__close-button:hover {
  background-color: #e6e6e6;
}

.modal__close-button:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

@supports not selector(:focus-visible) {
  .modal__close-button:focus {
    background-color: #e6e6e6;
    outline: 3px solid #83b3d3;
    outline-offset: -3px;
  }
}

.modal__close-button:active {
  background-color: #e6e6e6;
  opacity: 0.3;
  outline: none;
}

.modal__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 48px;
}

.modal__form-fieldset {
  grid-column: 1 / -1;
  padding: 0;
  margin: 0;
  border: none;
}

.modal__form-fieldset--date {
  display: grid;
  align-items: center;
  row-gap: 48px;
  grid-template-columns: max-content 1fr;
  column-gap: 19px;
}

.modal__input-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__input-date-wrapper {
  display: flex;
  position: relative;
}

.modal__input-comment {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  position: absolute;
  bottom: -25px;
  left: 20px;
}

.modal__input-comment--error {
  color: #ff5757;
}

.modal__input-date {
  padding: 13px 212px 11px 20px;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  background-image: url("../images/modal-date.svg");
  background-position: 400px 14px;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 4px;
}

.modal__input-date::placeholder {
  color: inherit;
}

.modal__form-fieldset-guest {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.modal__input-number-wrapper {
  margin-left: 46px;
  display: flex;
  position: relative;
}

.modal__input-number {
  padding: 14px 36px;
  width: 110px;
  font-size: inherit;
  line-height: 20px;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.modal__input-number::-webkit-outer-spin-button,
.modal__input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}


.modal__btn-number {
  padding: 0;
  height: 20px;
  width: 20px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
}

.modal__btn-number--min::before,
.modal__btn-number--max::before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  position: absolute;
  top: 9px;
  left: 3px;
}

.modal__btn-number--min {
  top: 14px;
  left: 10px;
}

.modal__btn-number--max {
  top: 14px;
  right: 10px;
}

.modal__btn-number--max::after {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background-color: rgba(117, 97, 87, 0.3);
  position: absolute;
  top: 3px;
  left: 9px;
}

.modal__btn-number--min:hover::before,
.modal__btn-number--max:hover::before,
.modal__btn-number--max:hover::after,
.modal__btn-number--max:focus-visible::before,
.modal__btn-number--min:focus-visible::before,
.modal__btn-number--max:focus-visible::after {
  background-color: #000000;
}

.modal__btn-number:focus-visible,
.modal__input-date:focus-visible {
  outline: 3px solid #82b3d3;
}

@supports not selector(:focus-visible) {
  .modal__btn-number--max:focus::before,
  .modal__btn-number--min:focus::before,
  .modal__btn-number--max:focus::after {
    background-color: #000000;
  }
}

@supports not selector(:focus-visible) {
  .modal__btn-number:focus,
  .modal__input-date:focus {
    outline: 3px solid #82b3d3;
  }
}

.modal__btn-number--min:active::before,
.modal__btn-number--max:active::before,
.modal__btn-number--max:active::after {
  opacity: 0.3;
}

.modal__input-label--kids {
  margin-left: 88px;
}

.modal__tooltip-btn {
  margin-left: 10px;
  width: 26px;
  height: 26px;
  background-color: #83b3d3;
  background-image: url("../images/modal-tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal__tooltip-btn:focus-visible {
  opacity: 0.6;
  outline: none;
}

@supports not selector(:focus-visible) {
  .modal__tooltip-btn:focus {
    opacity: 0.6;
    outline: none;
  }
}

.modal__tooltip-text {
  display: none;
  margin: 0;
  padding: 20px 18px 23px 22px;
  width: 256px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  position: absolute;
  right: 112px;
  bottom: 25px;
  z-index: 1;
}

.modal__tooltip-text::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333333;
  position: absolute;
  top: -10px;
  left: 118px;
}

.modal__tooltip-btn:active + .modal__tooltip-text,
.modal__tooltip-btn:hover + .modal__tooltip-text {
  display: block;
}

.modal__form-submit-btn {
  grid-column: 1 / -1;
  padding: 18px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal__form-submit-btn:active {
  background-color: #82b3d3;
}
